body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light gray background color */
  }
  
  .app-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White background for the container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a slight elevation effect */
  }
  
  .heading {
    text-align: center;
    color: #333; /* Dark gray heading color */
  }
  
  .url-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
  }
  
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Blue submit button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .short-url {
    color: #007bff; /* Blue color for the short URL */
    cursor: pointer;
    text-decoration: underline;
  }
  
  .short-url:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  @media screen and (max-width: 768px) {
    .app-container {
      margin: 20px auto;
      padding: 10px;
    }
    
    .url-input,
    .submit-btn {
      width: calc(100% - 20px);
    }
  }
  /* app.css */

.copy-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #45a049; /* Darker Green */
}

  